.filters{
    overflow: auto;
    white-space: nowrap;
}

.filters button{
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin: 0 2px;
    color: #999;
}

.filters button.selected{
    color: #000;
}

.filters button span{
    display: block;
    text-align: center;
}

.filters button.selected span:before{
    content: '• ';
    color: #090;
}
